
:root{
  --clr-primary-200: #1F2937;

  --clr-neutral-100: #F9FAF8;
  --clr-neutral-200: #E5E7EB;

  --clr-accent-100: #3882F6;


  --ff-primary: "Roboto", serif;

  --fw-bold: 900;

  --fs-100: 18px;
  --fs-200: 24px;
  --fs-300: 36px;
  --fs-400: 48px;

  --font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.roboto {
    font-family: "Roboto", sans-serif;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.container {
  min-width: 60%;
  max-width: 80%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

header,
.hero {
  background: var(--clr-primary-200);
}

header {
  height: 60px;
}
header .container {
  justify-content: space-between;
}

.logo {
  color: var(--clr-neutral-100);
  font-size: var(--fs-200);
}

li {
  margin: 0 14px;
  color: var(--clr-neutral-200);
  font-size: var(--fs-100);
}

.hero {
  height: 400px;
}

.hero-text {
  color: var(--clr-neutral-100);
  width: 100%;
  height: 50%;
  margin-right: 1rem;
}
.hero-text h1 {
    font-size: var(--fs-400);
    font-weight: var(--fw-bold);
}

.hero-image {
background-color: #6d747d;
height: 50%;
width: 100%;
color: var(--clr-neutral-200);
}

.btn {
  background-color: var(--clr-accent-100);
  padding: 6px 18px;
  border-radius: 8px;
  color: var(--clr-neutral-100);
  font-weight: var(--fw-bold);
  border: 2px solid var(--clr-primary-200);
}

.btn-primary {
  margin-top: .5rem;
}

.section-2 {
  min-height: 480px;
 text-align: center;
}
.image {
  width: 180px;
}
.box {
  width: 180px;
  height: 180px;
  border: 3px solid var(--clr-accent-100);
  border-radius: 8px;
  margin-top: 2rem;
}

.image p{
  width: 100%;
  margin-top: 1rem;
}

.content {
  justify-content: space-between;
}

.quote-section {
  height: 360px;
  background: var(--clr-neutral-200);

}

.quote-section .container {
  flex-direction: column;
}
.quote-section .quote {
  font-size: var(--fs-300);
  color: var(--clr-primary-200);
  font-weight: 100;
  font-style: var(--font-style);
}

.signature {
  align-self: end;
  font-weight: 900;
}

footer {
  min-height: 200px;
  align-items: center;
  display: flex;
}
footer .container {
  background: var(--clr-accent-100);
  min-height: 160px;
  color: var(--clr-neutral-100);
  justify-content: space-around;
}
.btn-secondary {
  border: 1px solid var(--clr-neutral-100);
}
footer p {
  font-size: .5rem;
}

@media(max-width:1220px) {
  .section-2 .content {
    flex-direction: column;
  }
  .hero-text h1 {
    font-size: var(--fs-300);
  }
}